.container.content
  .body  

    .container{:style => "padding-bottom: 200px; padding-top:200px; padding-left:50px; padding-right:50px"}
      .span11.well{:style => "padding-bottom: 100px; padding-top:100px; padding-left: 50px; padding-right: 50px; width:700px; background-color:#ffffff"}
        %img{:src => "tt_logo.png", :style => "padding-bottom:20px;"}
        %center
          .form-inline{:action => "demo_form.asp"}
            %input{:name => "search", :type => "text", :class => "input-mysize"}
            %input{:type => "submit", :value => "Submit", :class => "btn btn-primary"}
            