/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body
{
  background-image: url('tt_bg_60.png');
  background-repeat:repeat;
}

.input-mysize { width: 450px;}

.center-div {
	top: 50%;
	left: 50%;
}


.mydiv {
    top: 50%;
    left: 30%;
    width: 900px;
    height: 500px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    position:fixed;
}

.detail-container {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.left-container {
  display: inline-block;
  height: 100%;
  width: 49%;
  vertical-align: top;
}

.left-container > .well {
  margin-bottom: -20px;
}

.right-container {
  display: inline-block;
  height: 100%;
  width: 49%;
  vertical-align: top;
}

.right-container > .well {
  margin-bottom: -20px;
}

#map-canvas {
    width: 425px;
    height: 425px;
}