body {

}

#maps_logo{
    width: 175px;
}

#trove_logo{
    padding-left: 17px;
}

#dbpedia_logo{
    padding-left: 15px;
    padding-bottom: 37px;
}

#intersect_logo{
    padding-left: 261px;
    padding-top: 45px;
}

#intersection_logo{
    padding-top: 51px;
    height: 200px;
}

#bunch_of_guys{
    text-align: center;
}

#calais_logo{
    padding-left: 17px;
}