
.div
	.span9.well{:style => "background-color: #ffffff;"}
		= image_tag "article104268176-3-001.jpg"

.div
	.span9.well{:style => "background-color: #ffffff;"}
		%ul.nav.nav-tabs
			%li.active
			%a{:href => "#"} Text
			%li
			%a{:href => "#"} Entities
			%li
			%a{:href => "#"} Wikipedia Articles
			%li
			%a{:href => "#"} NSW API
			%li
			%a{:href => "#"} Maps
			%hr
			Cameras New Weapon

			In 6War' At Berlin Wall

			BERLIN (A.AJft.-Reuter). — East German border guards at the Berlin >vall dive for cover behind trees and doors when ever they see the latest West Berlin police weapon to be used

			in the cold war trained on them —- a camera.

			Herr Hans-Ulrich Werner, commander of West Berlin's uniformed police force, says that the distribution of 60 high-quality cameras to policemen on border duty a year ago has proved to be most effective in diminishing border incidents.

			"The Vopos (Volkspolizist people's policeman) do not want their pictures registered in the West German archives on border incidents.

			_ Any one of them may de cide to flee himself," Herr Werner explains.

			The new "photo-war" has led the East German police to provide their men, too, with cameras, Herr Werner

			says.

			They use them to shoot pictures of demonstrators on the West Berlin side for pub lication in East German newspapers.

			West Berlin in the mean

			time has perfected _ its photo system by training four

			"alert units," equipped withj small-gauge cine-cameras.

			Three o the units are composed of uniformed police and one of criminal police.

			Alone

			While East German bor der guards generally appear in groups of two or more along the border, West Ber lin police are normally alone on their border beats.

			t With automatic American rifles slung over their shoul ders, they have to cover long

			stretches of barbed-wire or walls all along the 100-mile border with East Berlin, or surrounding East Germany.

			In the months immediately following- the building, of the

			Berlin Wall two years ago, many East Germans ma.de desperate attempts to scale the wall, damber through fences, or jump from houses on the border to escape to

			the west.

			East German guards opened fire several times a week and a total of 51 East Germans met their death while trying to escape.

			West Berlin police are un der strict orders by Allied authorities in-the city to fire back only when attacked themselves, or to protect a person already on West Ber lin territory.

			This means that many a West Berlin policeman has had to look on helplessly as East German border guards shot or maltreated would-be

			I refugees.

			! Record

			Equipped with a camera, they can now take action by recording an incident in pic tures which East German officials cannot later deny.

			The thousands of pictures taken by West Berlin border policemen during the past year include some which show East German guards beating, up would-be refugees whom they have caught, dragging women to lorries, arresting children and bran dishing batons.

			As Herr Werner says: "We now have quite an outstand ing collection."

			The photos are examined and any of suitable documen tary value are sent to Salz gitter, where the West Ger man government keeps its central archives on border incidents. ;
		