.detail-container

  .left-container{:style => "background-color: #ffffff;"}
    .well
      = image_tag "article104268176-3-001.jpg"


  .right-container{:style => "background-color: #ffffff;"}
    .well
      %ul.nav.nav-pills{:id => "details-tab"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#text"} Text
        %li
          %a{"data-toggle" => "tab", :href => "#entities"} Entities
        %li
          %a{"data-toggle" => "tab", :href => "#wiki"} Wikipedia Articles
        %li
          %a{"data-toggle" => "tab", :href => "#nswapi"} NSW API
        %li
          %a{"data-toggle" => "tab", :href => "#maps"} Maps

      .tab-content
        #text.tab-pane.active
          = @article['articleText']
        #entities.tab-pane.active
          entities stuff
        #wiki.tab-pane.active
          wiki stuff
        #nswapi.tab-pane.active
        #maps.tab-pane.active